body {
  font-family: Verdana;
  font-size: 12px;
  padding: 10px;
  background-color: #f2efe8;
  font-family: 'Monteserrat', sans-serif;
  color: #FBCB15;
  text-decoration: none;
  font-weight: bold;
}

h1{
  color: #159594;
  text-align: center;
}

#chartdiv {
  width: 75%;
  height: 500px;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;

 } 

#chartlingo {
  width: 75%;
  height: 500px;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

#info {
  opacity: 0.9;
  background: #8B1C55;
  padding: 20px;
  align-content: center;
  font-size: 30px;

  /*Additional Colors:
  #159594 green
  #1A8CAB blue
  #FBCB15 yellow
  #8B1C55 purple
  #FF1900 red*/
}